body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-color: #ff9f29;

  box-shadow: 5px 5px 5px #ccc;
}
.header h2 {
  display: inline-block;
  padding-left: 30px;

  margin-top: 20px;
}
.fa-note-sticky {
  font-size: 40px;
  padding-left: 20px;
}
@media screen and (min-width: 300px) {
  .header {
    height: auto;
    width: 100vw;
    padding-left: 3px;
  }
  .fa-note-sticky {
    padding-left: 2px;
  }
  .header h2 {
    font-size: 30px;
  }
  .create_main {
    width: 40%;
  }
  .note {
    height: 200px;
    width: 80%;
    margin: 15px auto;
    border-radius: 10px;
    overflow: auto;
  }
  .note button {
    position: fixed;
    outline: none;
    border: none;

    bottom: 0px;
    right: 22px;
    box-shadow: 5px 5px 5px #ccc;
    background-color: #fff;
    border-radius: 40%;
  }
  .create_main textarea{
    width: 87%;
  }
  .create_main input{
    width: 87%;
  }
 
}
@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
  .header h2 {
    font-size: 40px;
  }
  .create_main {
    width: 29%;
  }
  .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .note {
    height: 150px;
    width: 30%;
    margin:  30px auto;
    /* margin-top: 30px;
    margin-bottom: 80px;
    margin-left: 15px;
    margin-right: 15px; */
  }
  .create_main input{
    width: 92%;
  }
  .create_main .textarea{
    width: 92%;
  }
  
}

.create_main {
  background-color: #fff;
  box-shadow: 3px 5px 14px 3px #ccc;

  margin: 50px auto;
  position: relative;
}
.create_main input {
  margin-top: 20px;
  border: none;
  outline: none;
  font-size: 28px;
  padding-left: 15px;

  font-family: "IBM Plex Serif", serif;
}
.create_main textarea {
  font-family: "IBM Plex Serif", serif;
  outline: none;
  border: none;
  font-size: 17px;
  display: block;
  margin-top: 20px;
  padding-left: 15px;
  
}
.create_main button {
  padding: 10px;
  position: absolute;
  bottom: -21px;
  right: 22px;
  border: none;
  background-color: #fff;
  border-radius: 13%;
  box-shadow: 5px 5px 5px #ccc;
}
.create_main button .fa-plus {
  color: #ff9f29;
  font-size: 30px;
  border-radius: 20%;
  background-color: #fff;
}
.create_main button .fa-plus:hover {
  color: #fff;
  background-color: #ff9f29;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
.note {
  display: inline-block;

  background-color: #fff;
  box-shadow: 3px 5px 14px 3px #ccc;
  position: relative;
}
.note h1 {
  font-size: 20px;
  padding-left: 15px;
  font-family: "IBM Plex Serif", serif;
  margin: 10px 0 0 10px;
}
.note p {
  font-size: 18px;
  padding-left: 15px;
  font-family: "IBM Plex Serif", serif;
  margin: 0 0 1px 5px;
}
.note button {
  position: absolute;
  outline: none;
  border: none;
  bottom: 4px;
  right: 22px;
  box-shadow: 5px 5px 5px #ccc;
  background-color: #fff;
  border-radius: 40%;
}

.note button .fa-trash-can {
  color: #ff9f29;
  font-size: 25px;
}
.note button:hover {
  transform: scale(1.3);
}


